#delete_card_tip_container {
	width: 588px;
	height: 164px;
	background-color: #FFFFFF;
	border: 1px solid #94C721;
	padding: 0 20px 0 20px;
}
.delete_card_tip_title_line {
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #D6D0D6;
	width: 588px;
}
.delete_card_tip_title_line .delete_card_tip_title {
	font-weight: bold;
	color: #4A4A4A;
	font-size: 18px;
	float: left;
}
.delete_card_tip_title_line .delete_card_tip_close {
	float: right;
	background: url('../images/closed.png') no-repeat;
	height: 11px;
	width: 11px;
	margin: 15px 0 0 0;
	cursor: pointer;
}
.delete_card_tip_content {
	height: 55px;
	line-height: 55px;
	color: #4A4A4A;
	font-size: 14px;
}
.delete_card_tip_action {
	height: 67px;
}
.delete_card_tip_action .action_confirm_cancel, .delete_card_tip_action .action_confirm_ignore {
	background-color: #99CC33;
    border-radius: 2px;
    width: 75px;
    color: white;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    margin-top: 13px;
    text-decoration: none;
}
.delete_card_tip_action .action_confirm_cancel {
	margin: 0 11px 0 213px;
}