.index_header {
	
}
.index_header .index_navs {
	
}
.index_header .index_navs .nav_prev, .index_header .index_navs .nav_scroll, .index_header .index_navs .nav_next {
	height: 30px;
	line-height: 30px;
	float: left;
}
.index_header .index_navs .nav_prev, .index_header .index_navs .nav_next, .index_header .index_navs .nav_scroll ul li {
	border-right: 1px solid #b5b5b5;
}
.index_header .index_navs .nav_prev .nav_prev_inner, .index_header .index_navs .nav_next .nav_next_inner{
	height: 0;
	width: 0;
	border-width: 6px;
	border-style: solid;
	overflow: hidden;
	margin-top: 10px;
	text-align: center;
}
.index_header .index_navs .nav_prev .nav_prev_inner {
	border-color: #FFFFFF #CACACA #FFFFFF #FFFFFF;
	margin-right: 5px;
}
.index_header .index_navs .nav_next .nav_next_inner {
	border-color: #FFFFFF #FFFFFF #FFFFFF #CACACA;
	margin-left: 5px;
}
.index_header .index_navs .nav_scroll {
	width: 272px;
	overflow: hidden;
}
.index_header .index_navs .nav_scroll ul li {
	float: left;
	list-style: none outside none;
	text-align: center;
	width: 67px;
}