#login_container {
	float: left;
	position: relative;
	width: 865px;
	height: 85px;
	margin-left: 490px;
}
.logged-in {
	float: right;
	margin-top: 26px;
	right: 16px;
	width: 160px;
}
#login.logged-in .user-name, #login.logged-in .user-level, #login.logged-in .user-photo, #login.logged-in .drop-down-menu-button {
    vertical-align: bottom;
}
#login.logged-in .user-photo {
	position: relative;
	top: 2px;
	display: none;
}
#login.logged-in .user-level {
    font-size: 1em;
    line-height: 1em;
    padding: 0.05em 0.25em 0.05em 0.2em;
    display: none;
}
.green-block {
    background-color: #7BB81B;
    color: #FFFFFF;
}
.number-block {
    border-radius: 3px 3px 3px 3px;
    font-family: "Courier New","DejaVu Sans Mono",monospace,sans-serif,"STHeiti","WenQuanYi Micro Hei","Microsoft YaHei",SimSun,sans-serif;
    text-align: center;
    width: 1.3em;
}
#login.logged-in .drop-down-area {
    cursor: pointer;
}
#login.logged-in .user-name {
    font-size: 1.14286em;
    font-weight: bold;
    line-height: 1em;
}
#login.logged-in .drop-down-menu {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 10px rgba(85, 85, 85, 0.5);
    color: #000000;
    display: none;
    margin-top: 10px;
    position: absolute;
    z-index: 999;
    width: 168px;
    height: 91px;
}
#login.logged-in .drop-down-menu .text-pointer {
    background: url("../images/login-menu-popup-pointer.png") no-repeat scroll 0 0 transparent;
    height: 8px;
    left: 100px;
    margin-left: -10px;
    position: absolute;
    top: -8px;
    width: 20px;
}
#login.logged-in .drop-down-menu ul {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}
#login.logged-in .drop-down-menu ul li {
    border-bottom: 1px solid #EFEFEF;
    padding: 2px;
}
#login.logged-in .drop-down-menu ul li a {
    border-radius: 2px 2px 2px 2px;
    color: inherit;
    display: block;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-top: 0.2em;
    text-decoration: none;
    width: 150px;
}
#login.logged-in .drop-down-menu ul li.last {
    border-bottom: medium none;
}
#login.logged-in .drop-down-menu.open {
    display: block;
}


#right_container {
	width: 696px;
	float: left;
	position: absolute;
	margin : 85px 0 0 490px;
	padding-bottom: 50px;
}
#index_status_container {
	width: 696px;
}
.index_title {
	color: #4a4a4a;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bold;
}
.index_sub_title {
	margin-top: 9px;
	height: 25px;
	line-height: 25px;
	background-color: #f3f3f1;
}
.index_sub_title .content {
	color: #737173;
	float: left;
}
.index_sub_title .close_icon {
	background: url('../images/closed.png') no-repeat;
	float: right;
	height: 11px;
	width: 11px;
	margin: 7px 7px 0 0;
	cursor: pointer;
}
.detail_card_info {
	width: 662px;
	border: 1px solid #CACACA;
	position: relative;
	float: left;
	margin-top: 9px;
	padding: 0 14px 6px 20px;
	display: none;
}
.detail_card_info .card_title {
	height: 32px;
	line-height: 32px;
	color: #4b4a48;
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CACACA;
}
.detail_card_info .card_title .collapse_btn {
	width: 80px;
	height: 23px;
	line-height: 23px;
	font-size: 14px;
	vertical-align: baseline;
	position: relative;
	bottom: -10px;
	float: right;
}
.detail_card_info .search_data_div {
	margin-top: 9px;
	margin-bottom: 17px;
	width: 662px;
}
.detail_card_info .search_data_div input[type='button'] {
	width: 100px;
	height: 23px;
	line-height: 23px;
	float: left;
}
.detail_card_info .search_data_div .recent_two_week {
	margin-left: 4px;
}
.detail_card_info .search_data_div .unselected {
	border: 1px solid #9F9F9F;
	background: #FFFFFF;
	border-radius: 0;
	color: #5C5C5C;
}
.detail_card_info .search_data_div .datepicker_container {
	position: relative;
	float: right;
}
.detail_card_info .search_data_div .end_date_container {
	margin-left: 25px;
}
.detail_card_info .search_data_div .datepicker_container .datepicker {
	background: #FFFFFF;
	border: 1px solid #9C9C9C;
	color: #B9B9B9;
	width: 117px;
	height: 17px;
	line-height: 17px;
	position: relative;
	padding-top: 2px;
	padding-bottom: 2px;
}
.detail_card_info .search_data_div .datepicker_container .ui-datepicker-trigger {
	position: absolute;
	top: 2px;
	right: 8px;
}
.detail_card_info .table_div table {
	margin-bottom: 0;
}
.detail_card_info .table_div table tr {
	height: 34px;
}
.detail_card_info .table_div table tr td {
	border: 1px solid #CACACA;
	text-align: center;
}
.detail_card_info .table_div table .first_line {
	background: #99CC33;
	height: 29px;
	color: #FFFFFF;
}
.detail_card_info .see_more {
	margin-top: 5px;
}
.detail_card_info .see_more .see_more_btn {
	float: right;
	width: 107px;
	height: 24px;
	line-height: 24px;
}
.index_card {
	width: 328px;
	height: 434px;
	border: 1px solid #CACACA;
	margin-top: 9px;
	border-radius: 2px;
	padding: 5px 5px 0 8px;
	position: relative;
}
.index_card_fir {
	float: left;
}
.index_card_sec {
	float: right;
}
.index_card .card_title {
	height: 40px;
	line-height: 40px;
	color: #7D7D7D;
	font-weight: bold;
	font-size: 18px;
}
.index_card .refer_range {
	color: #4B4B4B;
}
.index_card .refer_range .refer_text {
	margin-right: 5px;
}
.index_card .edit_data, .index_card .editing_data {
	height: 25px;
	margin-top: 25px;
}
.index_card .edit_data .explain_icon {
	margin-right: 2px;
	float: right;
}
.index_card .edit_data .small_edit_icon {
	float: right;
	cursor: pointer;
}
.index_card .edit_data .last_edit_data {
	float: left;
}
.index_card .editing_data {
	display: none;
}
.index_card .editing_data .input_container {
	float: left;
}
.index_card .editing_data .input_container input {
	color: #5C5C5C;
	background-color: #FFFFFF;
	border: 1px solid #9C9C9C;
}
.index_card .editing_data .input_container .error {
	border: 1px solid red;
}
.index_card .editing_data .input_container .edit_input_main {
	width: 42px;
	height: 17px;
	line-height: 17px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.index_card .editing_data .input_container .edit_input_sub {
	width: 17px;
	height: 17px;
	line-height: 17px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.index_card .editing_data .add_minus_icon {
	float: left;
	margin-right: 8px;
}
.index_card .editing_data .add_minus_icon .add_icon {
	background:url(../images/add.png) no-repeat;
	width: 15px;
	height: 11px;
	border-right: 1px solid #9C9C9C;
	cursor: pointer;
}
.index_card .editing_data .add_minus_icon .minus_icon {
	background:url(../images/minus.png) no-repeat;
	width: 15px;
	height: 10px;
	border-bottom: 1px solid #9C9C9C;
	border-right: 1px solid #9C9C9C;
	margin-top: 1px;
	cursor: pointer;
}
.index_card .editing_data .cancel_edit_icon {
	float: right;
	background:url(../images/cancel_edit.png) no-repeat;
	width: 23px;
	height: 23px;
	margin-right: 2px;
	cursor: pointer;
}
.index_card .editing_data .confirm_edit_icon {
	float: right;
	background:url(../images/confirm_edit.png) no-repeat;
	width: 23px;
	height: 23px;
	cursor: pointer;
}
.index_card .refresh_data {
	height: 23px;
	line-height: 23px;
	margin-top: 15px;
}
.index_card .refresh_data .refresh_text {
	float: left;
	color: #B9B9B9;
}
.index_card .refresh_data .refresh_icon {
	float: right;
	background: url("../images/refresh.png") no-repeat;
	width: 23px;
	height: 23px;
	cursor: pointer;
}
.index_card .select_date {
	width: 148px;
	height: 23px;
	position: relative;
	margin-top: 15px;
	display: none;
}
.index_card .select_date .datepicker {
	background: #FFFFFF;
	border: 1px solid #9C9C9C;
	color: #B9B9B9;
	width: 131px;
	height: 17px;
	line-height: 17px;
	position: relative;
	padding-top: 2px;
	padding-bottom: 2px;
}
.index_card .select_date .ui-datepicker-trigger {
	position: absolute;
	top: 2px;
	right: 8px;
}
.index_card .edit_icon_container .edit_icon {
	background: url("../images/pen_large.png") no-repeat;
	height: 85px;
	width: 85px;
	float: left;
	margin: 45px 0 0 135px;
	cursor: pointer;
}
.index_card .edit_icon_container .curve_icon {
	background: url("../images/curve.png") no-repeat;
	height: 125px;
	width: 105px;
	float: left;
}
.index_card .edit_text {
	color: #4B4B4B;
	text-align: center;
	height: 20px;
	line-height: 20px;
	margin-top: 20px;
	margin-bottom: 100px;
}
.index_card .chart {
	height: 230px;
	margin-top: 10px;
}
.index_card .card_bottom {
	height: 30px;
	position: absolute;
	bottom: 0;
}
.index_card .card_bottom .understand_index, .index_card .card_bottom .simulation_sheet, .index_card .card_bottom .detail_history {
	float: left;
}
.index_card .card_bottom .understand_index a, .index_card .card_bottom .simulation_sheet a, .index_card .card_bottom .detail_history a {
	color: #B9B9B9;
	cursor: pointer;
	text-decoration: none;
}
.index_card .card_bottom .understand_index {
	width: 120px;
}
.index_card .card_bottom .simulation_sheet {
	width: 115px;
}
.index_card .card_delete {
	background: url('../images/closed.png') no-repeat;
	width: 11px;
	height: 11px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px 5px 0 0;
	cursor: pointer;
}
.index_card .card_delete_hover {
	background: url('../images/closed_hover.png') no-repeat;
	width: 15px;
	height: 15px;
	position: absolute;
	top: -3px;
	right: -2px;
	margin: 5px 5px 0 0;
	cursor: pointer;
}
.act_card_container {
	width: 343px;
	height: 380px;
}
.act_card{
	width: 340px;
	height: 118px;
	line-height: 118px;
	text-align: center;
	border: 2px dashed #A0A0A0;
	margin-top: 9px;
	border-radius: 2px;
}
.act_card a{
	color: #7D7D7D;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: 1px;
	cursor: pointer;
}
.move_div_2_left {
	float: left;
}