.clear {
	clear: both;
}
#sidebar_container{
	padding: 1.5em 0;
	position: absolute;
    z-index: 10;
    width: 420px;
    height: 1020px;
    background-color: #F3F3F1;
}

/* 导航样式 */
#nav_container {
	/*position: absolute;*/
	font-size: 1.07143em;
	margin-bottom: 24px;
}
#nav_container .hidden_navs {
	width: 174px;
	overflow: hidden;
}
#nav_container .hidden_navs, #nav_container .default_nav .tail, #nav_container .head-background, #nav_container .head-background, #nav_container .default_nav .curr_nav {
	background-color: #0063A8;
	height: 33px;
	line-height: 33px;
	float: left;
}
#nav_container .hidden_navs ul {
 display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
#nav_container .hidden_navs ul li {
    display: block;
    float: left;
    padding: 0;
    text-align: center;
}
#nav_container .default_nav .tail a, #nav_container .hidden_navs ul li a {
	color: #FFF;
	display: block;
	text-decoration: none;
}
#nav_container .hidden_navs ul li a {
	border-right: 1px solid #267AB5;
    width: 86px;
}
#nav_container .hidden_navs ul li a:hover {
	background-color: #00497F;
}
#nav_container .default_nav {
	left: 20px;
	/* 导航的宽度(86+1)*2 */
	width: 174px;
	position: absolute;
	background-color: #F3F3F1;
}
#nav_container .default_nav .tail a {
	text-align: center;
	width: 50px;
}
#nav_container .default_nav .tail-cut {
	background: url("../images/nav-ribbon-tail-cut.png") repeat scroll 0 0 transparent;
    height: 33px;
    width: 19px;
    float: left;
}
#nav_container .default_nav .curr_nav {
	background-color: #F3F3F1;
	margin-left: 12px;
}
#nav_container .head-background {
	box-shadow: 20px 0 20px -20px inset;
    width: 20px;
    color: #FFF;
}

/* 对比容器样式 */
#compare_container {
	margin-top: 26px;
	padding-left: 18px;
	width: 383px;
}
#compare_container .post-question .searchdiv .question {
	width: 289px;
	height: 29px;
	line-height: normal;
	border: 1px solid #c1b59d;
}
#compare_container .post-question .searchdiv .submit {
	width: 72px;
	height: 31px;
	border: 1px solid #cce79a;
	vertical-align: baseline;
	float: right;
}
#compare_container .similar_container {
	margin-top: 14px;
	margin-left:15px;
}
.vertical_bar_component {
	position: relative;
	width: 12px;
	height: 400px;
	float: left;
}
.vertical_bar_component .v_b_c_top {
	height: 0;
	width: 0;
	border-width: 3px;
	border-style: solid;
	border-color: #898989 #898989 #F3F3F1 #898989;
	overflow: hidden;
	position: absolute;
	z-index: 100;
}
.vertical_bar_component .v_b_c_middle {
	position: relative;
	top: 3px;
	z-index: 99;
}
.vertical_bar_component .v_b_c_middle .v_b_c_middle_top {
	height: 0;
	width: 0;
	border-width: 3px;
	border-style: solid;
	border-color: #F3F3F1 #F3F3F1 #898989 #F3F3F1;
	overflow: hidden;
}
.vertical_bar_component .v_b_c_middle .v_b_c_middle_middle {
	width: 6px;
	height: 382px;
    filter:alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#898989,endcolorstr=#dbdbdb,gradientType=0); 
    -ms-filter:alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#898989,endcolorstr=#dbdbdb,gradientType=0);/*IE8*/ 
    background:-moz-linear-gradient(top,#898989,#dbdbdb);/*Firefox*/ 
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#898989), to(#dbdbdb)));/*chrome Safari*/ 
    background:-o-linear-gradient(top, #898989,#dbdbdb);/*Opera11*/
}
.vertical_bar_component .v_b_c_middle .v_b_c_middle_bottom {
	height: 0;
	width: 0;
	border-width: 3px;
	border-style: solid;
	border-color: #dbdbdb #F3F3F1 #F3F3F1 #F3F3F1;
	overflow: hidden; 
}
.vertical_bar_component .v_b_c_bottom {
	height: 0;
	width: 0;
	border-width: 3px;
	border-style: solid;
	border-color: #F3F3F1 #dbdbdb #dbdbdb #dbdbdb;
	overflow: hidden;
	position: absolute;
	z-index: 100;
}
#compare_container .similar_container .similar_content {
	margin-left: 15px;
	float: left;
	padding-top: 10px;
}
#compare_container .similar_container .similar_content .similar_title {
	color: #a0a0a0;
	font-size: 14px;
	margin-bottom: 21px;
}
#compare_container .similar_container .similar_content .specifix_content {
	background: url("../images/dialog-default.png") no-repeat;
	height: 47px;
	width: 343px;
	margin-left: -10px;
	margin-bottom: 35px;
	line-height:47px;
}
#compare_container .similar_container .similar_content #specifix_content1, #compare_container .similar_container .similar_content #specifix_content2 {
	margin-bottom: 37px;
}
#compare_container .similar_container .similar_content #specifix_content3{
	margin-bottom: 31px;
}
.specifix_content .specifix_text {
	padding-left: 25px;
	font-size: 15px;
}
#compare_container .compare_btn {
	border: 1px solid #7da625;
	width: 380px;
	height: 37px;
	border-radius: 3px;
	margin-top: 8px;
	cursor: pointer;
}
#compare_container .compare_btn .compare_btn_in{
	border: 1px solid #b8db71;
	border-bottom: none;
   	background: #8bb830;
   	background: -webkit-gradient(linear, left top, left bottom, from(#99cc33), to(#8bb830));
   	background: -webkit-linear-gradient(top, #99cc33, #8bb830);
   	background: -moz-linear-gradient(top, #99cc33, #8bb830);
   	background: -ms-linear-gradient(top, #99cc33, #8bb830);
   	background: -o-linear-gradient(top, #99cc33, #8bb830);
   	width: 378px;
   	height: 36px;
   	line-height: 36px;
   	color: #FFF;
   	font-size: 18px;
   	text-align: center;
   	border-radius: 3px;
}
#compare_container .compare_btn .compare_btn_in:hover {
	background: #93C431;
}
#compare_container .compare_btn .compare_btn_in:active {
	background: #8AB82E;
	box-shadow: 0 0 10px rgba(85 85 85 0.5) inset;
}
#compare_container .logo_container {
	margin-top: 30px;
	text-align: center;
}